<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Confirmation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<h3>Confirmation PAGE for Student</h3>
<br><br>
FirstName
<span th:text="${student.firstName}"></span>

<br><br>
LastName
<span th:text="${student.lastName}"></span>
<br><br>
Country
<span th:text="${student.country}"></span>
<br><br>
Favorite Language
<span th:text="${student.favoriteLanguage}"></span>
<br><br><br>
Favorite Operating Systems
<span th:each="os : ${student.favoriteSystems}" th:text="${os} + ' '"></span>

</body>
</html>