<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student registration form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<h3>Registration Form</h3>
<form th:action="@{/process-student-form}" th:object="${student}"  method="POST">

    FirstName: <input type="text" th:field="*{firstName}"/><br/><br/>
    LastName:  <input type="text" th:field="*{lastName}"/><br/><br/>

    Country:
    <select th:field="*{country}">
        <option th:each="tempCountry : ${countries}" th:value="${tempCountry}" th:text="${tempCountry}"></option>
    </select>

    <br/><br/>
    Favorite Programming Language:<br/>
    <input type="radio"
           th:field="*{favoriteLanguage}"
           th:each="tempLang : ${languages}"
           th:value="${tempLang}"
           th:text="${tempLang}"
    />
    <br/>
    <br/>
    Favorite Operating Systems:<br/>
    <input type="checkbox" th:field="*{favoriteSystems}"
              th:each="tempSys : ${systems}"
              th:value="${tempSys}"
              th:text="${tempSys}"/> <br/>
    <br/>
    <input type="submit" value="Submit"/>

</form>

</body>
</html>