<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{parent.html}">

<head>
    <title>Books</title>
</head>

<body>
<!-- parent.html içindeki content fragment'i dolduruluyor -->
<div layout:fragment="content">
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Thumbnail</th>
            <th>Title</th>
            <th>Author</th>
            <th>Picture URL</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">1</td>
            <td class="thumbnail-cell">
                <img th:src="@{/images/sampleimage.jpg}" alt="cat" class="thumbnail">
            </td>
            <td th:text="${book.title}">Book Title</td>
            <td th:text="${book.author}">Author Name</td>
            <td th:text="${book.pictureUrl}">https://example.com/image.jpg</td>
            <td>
                <a th:href="@{'/books/edit/' + ${book.id}}" class="action-btn edit-btn">Edit</a>
                <a th:href="@{'/books/delete/' + ${book.id}}" class="action-btn delete-btn">Delete</a>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
